// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/display/media-bus-format.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3566.dtsi"
#include "rk3566-tablet-lumifyx-tx6.dtsi"
#include "rk3568-android.dtsi"

/ {
	model = "Lumifyx Tx6 ANDROID11";
	compatible = "lumifyx,tx6", "rockchip,rk3566";

	gpio-leds {
        compatible = "gpio-leds";

        work-led {
            lable = "sysled";
            gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "timer";
            default-state = "on";
        };
    };

	 fd655_dev{
        compatible = "lumifyx,fd655_dev";
        clk_pin = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
        dat_pin = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&fd655_clk_pin &fd655_dat_pin>;
        status = "okay";
    };

    sdio_pwrseq: sdio-pwrseq {
        compatible = "mmc-pwrseq-simple";
        clocks = <&pmucru CLK_RTC_32K>;
        clock-names = "ext_clock";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_enable_h &wifi_32k>;
        reset-gpios = <&gpio2 RK_PB1 GPIO_ACTIVE_LOW>;
        states="okay";
    };

	vcc3v3_sd: vcc3v3-sd-regulator {
        compatible = "regulator-gpio";
        regulator-name = "vcc3v3_sd";
        regulator-min-microvolt = <100000>;
        regulator-max-microvolt = <3300000>;
        gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
        gpios-states = <0x1>;
        states = <100000 0x1
              3300000 0x0>;
    };
	
	 vccio_sd: vccio-sd-regulator {
        compatible = "regulator-fixed";
        regulator-name = "vccio_sd";
        regulator-always-on;
                regulator-boot-on;
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        vin-supply = <&vcc_3v3>;
    };

    vcc5v0_host: vcc5v0-host-regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_host";
        regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                vin-supply = <&vcc5v0_sys>;
    };

    vcc5v0_otg: vcc5v0-otg-regulator {
        compatible = "regulator-fixed";
        regulator-name = "vcc5v0_otg";
        regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
        vin-supply = <&vcc5v0_sys>;
    };

	wireless_wlan: wireless-wlan {
        compatible = "wlan-platdata";
        rockchip,grf = <&grf>;
        wifi_chip_type = "ap6398s";
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_host_wake_irq>;
        WIFI,host_wake_irq = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    wireless_bluetooth: wireless-bluetooth {
        compatible = "bluetooth-platdata";
        clocks = <&pmucru CLK_RTC_32K>;
        clock-names = "ext_clock";
        //wifi-bt-power-toggle;
        uart_rts_gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
        pinctrl-names = "default", "rts_gpio";
        pinctrl-0 = <&uart1m0_rtsn>;
        pinctrl-1 = <&uart1_gpios>;
        BT,reset_gpio    = <&gpio2 RK_PB7 GPIO_ACTIVE_HIGH>;
        BT,wake_gpio     = <&gpio2 RK_PC1 GPIO_ACTIVE_HIGH>;
        BT,wake_host_irq = <&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

	
};

&combphy1_usq {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&csi2_dphy_hw {
	status = "okay";
};

&gmac1 {
    phy-mode = "rgmii";
    clock_in_out = "output";

    snps,reset-gpio = <&gpio4 RK_PC4 GPIO_ACTIVE_LOW>;
    snps,reset-active-low;
    /* Reset time is 20ms, 100ms for rtl8211f */
    snps,reset-delays-us = <0 20000 100000>;

    assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>, <&cru CLK_MAC1_OUT>;
    assigned-clock-parents =  <&cru SCLK_GMAC1_RGMII_SPEED>, <&gmac1_clkin>;
    assigned-clock-rates = <0>, <125000000>, <25000000>;
    pinctrl-names = "default";
    pinctrl-0 = <&gmac1m1_miim
             &gmac1m1_tx_bus2
             &gmac1m1_rx_bus2
             &gmac1m1_rgmii_clk
             &gmac1m1_rgmii_bus
             &eth1m1_pins
             &gmac1m1_clkinout>;

    tx_delay = <0x4f>;
    rx_delay = <0x2d>;

    phy-handle = <&rgmii_phy1>;
    status = "okay";
};

&i2c2{
    status = "disabled";
};

&mdio1 {
    rgmii_phy1: phy@0 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0x0>;
        clocks = <&cru CLK_MAC1_OUT>;
    };
};
&pwm3 {
    compatible = "rockchip,remotectl-pwm";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm3_pins>;
    remote_pwm_id = <3>;
    handle_cpu_id = <1>;
    remote_support_psci = <0>;
    status = "okay";

    ir_key1 {
        rockchip,usercode = <0xfe01>;
        rockchip,key_table =
        <0xee   KEY_HOME>,
        <0xe6   KEY_BACK>,
    /*      <0xb3   KEY_MENU>,*/
        <0xec   KEY_ENTER>,
        <0xe9   KEY_UP>,
        <0xe5   KEY_DOWN>,
        <0xae   KEY_LEFT>,
        <0xaf   KEY_RIGHT>,
        <0xef   KEY_VOLUMEDOWN>,
        <0xe7   KEY_VOLUMEUP>,
        <0xbe   KEY_MUTE>,
        <0xb3   KEY_MUTE>,
        <0xbf   KEY_POWER>,
        <0xbc   141>,//settings
		/*  <0xff   388>,*/
        <0xf8   388>,
        <0xb1   KEY_1>,
        <0xf2   KEY_2>,
        <0xf3   KEY_3>,
        <0xb5   KEY_4>,
        <0xf6   KEY_5>,
        <0xf7   KEY_6>,
        <0xb9   KEY_7>,
        <0xfa   KEY_8>,
        <0xfb   KEY_9>,
        <0xfe   KEY_0>,
        <0xbd   KEY_BACKSPACE>;
    };
};

/* Need to be modified according to the actual hardware */
&pmu_io_domains {
    status = "okay";
    pmuio2-supply = <&vcc3v3_sys>;
    vccio1-supply = <&vcc_3v3>;
    vccio3-supply = <&vcc_3v3>;
    vccio4-supply = <&vcc_1v8>;
    vccio5-supply = <&vcc3v3_sys>;
    vccio6-supply = <&vcc_1v8>;
    vccio7-supply = <&vcc_3v3>;
};

&sata2 {
    status = "disabled";
};

&i2c2 {
	status = "disabled";
};

&sdmmc0 {
    max-frequency = <50000000>;
    supports-sd;
    bus-width = <4>;
    cap-mmc-highspeed;
    cap-sd-highspeed;
    disable-wp;
    //sd-uhs-sdr104;
    vmmc-supply = <&vcc3v3_sd>;
    vqmmc-supply = <&vccio_sd>;
    pinctrl-names = "default";
    pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
    status = "okay";
};

&sdmmc2 {
	status = "disabled";
};

&sdmmc1 {
	max-frequency = <100000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	sd-uhs-sdr104;
	status = "okay";
};

&uart1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart1m0_xfer &uart1m0_ctsn>;
};

&u2phy0_host {
    phy-supply = <&vcc5v0_host>;
    status = "okay";
};

&u2phy0_otg {
    vbus-supply = <&vcc5v0_otg>;
    status = "okay";
};

&u2phy1_host {
    phy-supply = <&vcc5v0_host>;
    status = "okay";
};

&u2phy1_otg {
    phy-supply = <&vcc5v0_host>;
    status = "okay";
};

&usb2phy1 {
    status = "okay";
};

&usb_host0_ehci {
    status = "okay";
};

&usb_host0_ohci {
    status = "okay";
};

&usb_host1_ehci {
    status = "okay";
};

&usb_host1_ohci {
    status = "okay";
};

&pinctrl {

    sdio-pwrseq {
        wifi_enable_h: wifi-enable-h {
            rockchip,pins = <2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
        };

        wifi_32k: wifi-32k {
            rockchip,pins = <2 RK_PC6 1 &pcfg_pull_none>;
        };
    };

    wireless-wlan {
        wifi_host_wake_irq: wifi-host-wake-irq {
            rockchip,pins = <2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_down>;
        };
    };

    wireless-bluetooth {
        uart1_gpios: uart1-gpios {
            rockchip,pins = <2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

 	fd655-dev {
         fd655_clk_pin: fd655-clk-pin {
            rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
        };
        fd655_dat_pin: fd655-dat-pin {
            rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };
};

